##
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ignore ALL .out files
*.out
*.csv
*.png
*.yaml
*.log
*.txt
*.pyc
*.cpython-310
*.sh

# ignore ALL files in ANY directory named
docs/_build
docs/api/generated
figures/
wandb/
logs/
lightning_logs/
artifacts/
results/
src/confi_files/
InterScale_hyperparameter_sweep/
src/interscale/tmp/
src/interscale/logs/
CLAUDE.md
